<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PopcornTorrent iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>PopcornTorrent.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>PopcornTorrentTestApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>PopcornTorrentTestsIOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>922F43311CA37CF800955B33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>922F433B1CA37CF800955B33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>926516581CEA69A6000F57D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92755CDA1CB1B3B700BCED5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D91570A11D6B927C00C6C848</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9563D701D4652C800A942A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
